*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
.lock {overflow: hidden}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #030A1B;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0px 15px;
}

.title {
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
}

.button {
    color: white;
    background-color: #2E6EFF;
    border-radius: 10px;
}

.home {
    position: absolute;
}

/*---------------------HEADER--------------------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 15px;

    &__list {
        display: flex;
        align-items: center;
        gap: 50px;
        transition: transform 0.4s;
    }

    &__item {
        font-weight: 500;
        opacity: 0.7;
    }

    &__item:hover {
        opacity: 1;
        color:#FE753F;
    }

    &__item:last-child {
        display: block;
        padding: 15px 30px;
        color: white;
        background-color: #2E6EFF;
        border-radius: 5px;
        opacity: 1;
    }

    &__item:last-child:hover {
        opacity: 0.7;
        font-weight: 500;
    }

    &__link {
        color: inherit;
    }

    &__burger {
        position: relative;
        height: 20px;
        width: 30px;
        background-color: transparent;
        display: none;
    }
}

/*---------------------HEAD--------------------*/

.head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 35px 15px 0px;

    &__content {
        max-width: 558px;
        padding-top: 45px;
    }

    &__title {
        font-size: 61px;
        font-weight: 600;
        line-height: 73px;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        margin: 30px 0px 40px;
        opacity: 0.7;
    }

    &__img {
        max-width: 100%;
        min-width: 484px;
    }
}

.tabs {
    width: 260px;
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 5px;

    &__list {
        display: flex;
        gap: 44px;
        padding: 15px 30px;
        
    }

    &__item {
        font-size: 18px;
        font-weight: 500;
        opacity: 0.7;
        background-color: transparent;
    }

    &__item:hover {
        color: #FE753F; 
        opacity: 0.8
    }

    &__item.active {
        color: #FE753F; 
        opacity: 1
    }

    &__content {
        position: absolute;
        max-width: 842px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        background-color: white;
        border-radius: 5px;
        z-index: 2;
        box-shadow: 0px 10px 16px 0px rgba(34, 60, 80, 0.1);
        display: none;
        &.active {
            display: flex;
        }
    }

    &__select {
        width: 163px;
    }

    &__title {
        opacity: 0.7;
    }

    &__arrow {
        position: relative;
        top: 8px;
        left: 5px;
        opacity: 1;
    }

    &__button {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 15px 20px;
        font-size: 16px;
        font-weight: 500;
    }

    &__button:hover {
        opacity: 0.9;
    }

    &__line {
        display: block;
        position: relative;
        right: 40px;
        height: 34px;
        width: 0.5px;
        background-color: #030A1B;
        opacity: 0.1;
    }
}

.fstdiv {
    left: 0;
}

.fstdropdown {
    border: 0px solid white;
    width: 100%;
    position: absolute;
}

.fstdropdown> .fstselected {
    padding: 6px 24px 6px 0px;
    font-size: 22px; 
    font-weight: 500;
    color: #030A1B;
    box-shadow: none;
}

/*---------------------PARTNERS--------------------*/

.partners {
    padding: 100px 15px 140px;

    &__title {
        text-align: center;
        margin-bottom: 65px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px
    }

    &__img {
        max-width: 100%;
    }
}

/*---------------------POPULAR--------------------*/

.popular {
    padding-bottom: 100px;

    &__title {
        padding: 50px 0 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        position: relative;
        top: 5px;
        font-size: 16px;
        font-weight: 600;
        color: #FE753F;
    }

    &__link:hover {
        text-decoration: underline;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        
    }

    &__block {
        box-shadow: 0px 8px 70px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
    }

    
}

.block-popular {

    &__img {
        height: 323px;
        width: 100%;
        object-fit: cover;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        padding: 30px;
        background-color: white;
        border-radius: 10px;
    }

    &__top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 22px;
        font-weight: 600;
        line-height: 33px;
    }

    &__text {
        margin: 10px 0px 20px;
        opacity: 0.7;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__bot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 20px;
    }

    &__price {
        font-size: 22px;
        font-weight: 600;
        line-height : 33px;
        color: #FE753F;
    }

    &__button {
        padding: 10px 20px;
        font-weight: 500;
        border-radius: 5px;
    }

    &__button:hover {
        opacity: 0.9;
    }

    &__fav {
        fill: #BBBBBB;
        cursor: pointer;
        height: 14px;
    } 
}

.red {
    fill: #E61E14;
}



/*---------------------FEATURED--------------------*/

.featured {
    background-color: #f9f9f9;

    &__head {
        padding-top: 70px;
        max-width: 728px;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__subtitle {
        line-height: 24px;
    }

    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        align-items: end;
        padding: 70px 0px;
    }

    &__block {
        height: 100%;
        max-width: 362px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25px;
        background-color: white;
        border-radius: 10px;
    }

    &__icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
    }

    &__icon::before {
        content: "";
        position: absolute;
        width: 46px;
        height: 46px;
        opacity: 0.1;
        background-color: #FE753F;
        border-radius: 5px;
    }

    &__name {
        margin: 15px 0 10px;
        font-size: 22px;
        font-weight: 600;
        line-height: 33px;
    }

    &__info {
        opacity: 0.7;
    }

    &__image {
        grid-area: 1 / 2 / 4 / 3;
    }
}

/*---------------------REVIEW--------------------*/

.review {
    padding: 140px 15px 70px;

    &__head {
        text-align: center;
    }

    &__link {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 8%;
        color: #FE753F;
    }

    &__link:hover {
        text-decoration: underline;
    }

    &__title {
        margin-bottom: 70px;
    }

    &__slider {
        width: 100%;
    }

    &__wrapper {
        padding-bottom: 70px;
    }

    &__item {
        width: 558px;
        padding: 30px;
        background: #FFFFFF;
        border: 2px solid rgba(254, 117, 63, 0.1);
        border-radius: 10px;
    }

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    &__img {
        margin-right: 30px;
        border-radius: 50%;
        width: 74px;
        height: 74px;
        object-fit: cover;
    }

    &__text {
        flex: 1 1 auto;
    }

    &__name {
        font-size: 22px;
        font-weight: 600;
        line-height: 33px;
    }

    &__jobs {
       
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        opacity: 0.7;
    }

    &__bg {
        max-width: 100%;
        flex: 0 0 auto;
        opacity: 0.7;
    }

    &__bot {
        opacity: 0.7;
    }

}

.swiper-pagination-bullet {
    height: 12px;
    width: 12px;
}

/*---------------------CONTACT--------------------*/

.contact {
    padding: 100px 15px;
    position: relative;

    &__bg {
        padding: 70px 15px;
        width: 100%;
        background-color: #433E89;
        color: white;
        border-radius: 10px;
    }

    &__contant {
        max-width: 743px;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        font-size: 44px;
        font-weight: 500;
        line-height: 60px;
        margin-bottom: 15px;
    }

    &__subtitle {
        max-width: 630px;
        margin: 0 auto;
        font-weight: 300;
        opacity: 0.7;
    }

    &__enter {
        position: relative;
        margin-top: 70px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 10px;
        z-index: 4;  
    }

    &__email {
        padding: 23px 30px;
        border-radius: 10px;
        font-size: 16px;
        width: 502px;
    }

    &__button {
        margin: 7px;
        width: 162px;
        background-color: #2E6EFF;
        color: white;
        font-size: 16px;
        font-weight: 500;
        border-radius: 10px;
    }

    &__button:hover {
        opacity: 0.8;
    }
}

.contact::before {
    content: "";
    position: absolute;
    top: 120px;
    left: -140px;
    height: 208px;
    width: 208px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.1;
    z-index: 2;
}

.contact::after {
    content: "";
    position: absolute;
    right: 40px;
    bottom: -30px;
    height: 208px;
    width: 208px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.1;
    z-index: 2;
    
}

/*---------------------FOOTER--------------------*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 15px 100px;

    &__linked {
        max-width: 265px;
    }

    &__text {
        padding: 25px 0px;
        opacity: 0.7;
    }

    &__img {
        margin-right: 15px;
    }

    &__img:hover {
        opacity: 0.8;
    }

    &__title {
        margin-bottom: 25px;
        font-size: 22px;
        font-weight: 600;
    }

    &__subtitile {
        margin-bottom: 15px;
        font-weight: 500;
        opacity: 0.7;
    }

    &__subtitile:hover {
        opacity: 1;
    }

    &__address {
        font-weight: 400;
    }

    &__link {
        color: inherit;
    }
}

/*---------------------SPRITE--------------------*/

.sprite {
    background-image: url(../img/icon/popular-icon.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 2px;
    opacity: 0.7;
}

.sprite-location {
    width: 11px;
    height: 15px;
    background-position: -4px -4px;
    margin-right: 10px;
}

.sprite-kitch {
    width: 13px;
    height: 15px;
    background-position: -23px -4px;
    margin-right: 5px;
}

.sprite-bath {
    width: 14px;
    height: 15px;
    background-position: -44px -4px;
    margin-right: 5px;
}

.sprite-bed {
    width: 17px;
    height: 13px;
    background-position: -66px -4px;
    margin-right: 5px;
}

@import "media.scss";
